.create-application-confirmation {
  .create-application-confirmation-body {
    .page-header-create-application {
      padding-left: 25px !important; 
    }
    .confirmation-row {
      background-color: #f0f2f5;
      width: 100%;
      margin: 0px;
      .confirmation-col { 
        height: calc(100vh - 215px);
        &:last-child {
          padding-right: 0px !important;
        }
      }
    }
    .confirmation-client {
      background-color: #fff;
      border-radius: 5px;
      .confirmation-client-info {
        padding: 0px 25px;
        .confirmation-client-avatar {
          text-align: center;
          margin-top: 15px;
          div { 
            margin-top: 10px;
            line-height: 1.3;
          }
          .ant-avatar {
            background-color: #929292;
            width: 75px;
            height: 75px;
            font-size: 35px;
            .ant-avatar-string {
              top: 23%;
            }
          }
          .client-name {
            display: block;
            font-size: 16px; 
            font-weight: 400;
          }
          .client-small {
            color: #979595;
            font-size: 11px;
          }
        }
        ul {
          margin-top: 50px;
          padding-left: 0px;
          list-style: none;
          font-size: 11px;
          li {
            color: #919090;
            &:not(:first-child) {
              margin-top: 7px;
            }
            .anticon {
              color: #919090;
              font-size: 10px;
              margin-right: 4px;
            }
            span {
              color: #262626;
              margin-left: 5px;
              font-weight: 500;
            }
          }
        }
        .statistic-client {
          border-top: 1px solid #efefef;
          margin-top: 50px;
          margin-left: -20px;
          width: 113%;
          display: flex;
          padding: 20px 0px; 
          .statistic-debt {
            color: red;
          }
          div {
            flex: 0 0 50%;
            text-align: center;
            font-size: 25px;
            line-height: 1;
            font-weight: 400; 
            span {
              padding-top: 3px;
              display: block;
              font-size: 10px;
              color: #828282;
              font-weight: 400;
            }
          }
        }
      }
    }
    .confirmation-basket {
      background-color: #fff;
      border-radius: 5px; 
      .ant-page-header-heading-left {
        width: 100%;
        .ant-page-header-heading-title {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .anticon-delete {
            color: red;
          }
        }
      }
      .empty-basket-list {
        height: calc( 100vh - 265px);
        .ant-empty {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
      .basket-list {
        padding: 10px 25px;
        height: calc( 100vh - 328px);
        overflow-y: auto;
        overflow-x: hidden;
        li {
          &::marker {
            background-color: red;
          }
        }
        .ant-list-item {
          border: 0;
          .ant-row {
            display: flex;
            align-items: center;
            width: 100%;
            margin: 0px !important;
            .ant-col { 
              &:last-child{
                padding-right: 0 !important;
              }
            }
          }
          .ant-avatar {
            img {
              margin: 0 auto;
              width: auto;
              height: 100%; 
              max-width: 100%;
              object-fit: scale-down;
            }
          }
          .name {
            font-size: 14px;
            text-align: start;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            .ditail-pay {
              display: flex;
              align-items: flex-end;
              svg {
                width: 18px;
                height: 18px;
                margin-right: 10px;
              }
              .ant-progress-bg {
                height: 5px !important;
              }
            }
          }
          .quantity {
            text-align: end;
            line-height: 1;
            .quantity-wrapper {
              position: relative;
              .resize-quantity {
                text-align: center;
                button { 
                  display: none !important;
                  width: 100%;
                  display: flex;
                  text-align: center;
                  justify-content: center;
                  font-size: 13px;
                  svg {
                    font-size: 13px;
                  }
                  .anticon-delete {
                    color: red;
                  }
                }
              }
            }
            &:hover {
              line-height: 1.5 !important;
              .resize-quantity {
                background-color: #f1f1f1;
                z-index: 10;
                position: absolute;
                text-align: center;
                width: 40px;
                top: -42px;
                right: 35%;
                button { 
                  display: block !important;
                }
              } 
            }  
          }
          .count {
            color: black;
            font-weight: 400;
            text-align: end;
          }
          .delete-basket-product {
            font-size: 13px;
            svg {
              font-size: 13px;
            }
            :hover {
              color: #ec3939;
            }
          }
        }
      }
      .basket-total {
        text-align: end;
        font-size: 18px;
        padding-right: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 1px solid #efecec;
        span {
          padding-left: 5px;
          font-weight: 500;
        }
      }
    }
    .confirmation-payments {
      background-color: #fff;
      border-radius: 5px;
      position: relative;
      height: calc(100vh - 215px);
      padding-bottom: 40px;
      .btn-add-payment {
        padding: 0;
        position: absolute;
        top: 10px;
        right: 15px;
        width: 28px;
        height: 28px;
        font-size: 16px;
        border: 0;
      }
      .confirmation-payments-list {
        height: calc(100vh - 370px);
        padding: 0px 25px; 
        position: relative; 
        .ant-list-split {
          height: calc(100vh - 425px);
          overflow-y: auto; 
        }
        .ant-list-item { 
          font-size: 13px;
          border-bottom: 0 !important;
          .ant-row {
            width: 100%; 
            margin: 0px !important;
          }
          .number {
            font-size: 11px;
            padding-left: 0px !important;
            span {
              font-size: 13px;
              padding-left: 2px;
            }
          }
          .employee-name { 
            div {
              white-space: nowrap;
              span {
                display: block;
                font-size: 12px;
                color: #808080;
              }
            }
          }
          .date {
            display: flex;
            align-items: center; 
          }
          .count {
            display: flex;
            align-items: center;
            justify-content: flex-end;  
          }
          .delete {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            padding-right: 0px !important;
          }
        }
        .sum-payments-count { 
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 16px;
          height: 55px;
          span {
            padding-left: 7px;
            font-weight: 500;
          }
        }
      }
      .none-payments { 
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .confirmation-payments-info { 
        display: flex;
        flex-direction: column;
        text-align: end; 
        justify-content: center;
        border-top: 1px solid #efefef;
        height: 70px;
        padding-right: 30px;
        .payments-count {
          font-size: 16px;
          span {
            font-weight: 500;
          }
        }
        .remainder-count {
          font-size: 18px;
          span {
            padding-left: 10px;
            font-weight: 500;
          }
        }
      }
      .btn-cereate-application {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        button {
          width: 100%;
        }
      }
    } 
  } 
}
