.editing-page {
  margin: 10px;
  border-radius: 5px; 
  .ant-page-header {
    border-radius: 5px;
    background-color: #fff;
  }
  .ant-breadcrumb {
    margin-bottom: 10px;
    padding-left: 2px;
    font-size: 12px;
  }
  .products-page {
    background-color: #f0f2f5; 
  } 
}