.application-table { 
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  height: calc(100vh - 75px); 
  .ant-table-wrapper {
    height: 100%;
    .ant-table-body {
      height: 100%;
      max-height: calc(100vh - 182px) !important;
      tr {
        cursor: pointer !important;
      } 
    }
  }
  .clolumText {
    span {
      display: block;
      padding-left: 2px;
      font-size: 10px;
      text-align: start;
    }
  }
}